<h2 class="location-name">
  <a href="https://yr.no/nb/værvarsel/daglig-tabell/{{ place.id }}">{{ place.name }}</a>
</h2>
<div class="table-container">
  <table class="table">
    <caption class="nrk-sr">Værvarsel for neste 8 dager</caption>
    <thead class="table__head">
      <tr>
        <th data-align="left"><span class="nrk-sr">Dato</span></th>
        <th data-align="left"><span class="nrk-sr">Farevarsel</span></th>
        <th data-align="center">Natt</th>
        <th data-align="center">Morgen</th>
		<th data-align="center">Dag</th>
		<th data-align="center">Kveld</th>
        <th data-align="right">Temperatur høy/lav</th>
        <th data-align="right">Nedbør</th>
        <th data-align="right">Vind</th>
      </tr>
    </thead>
    <tbody class="table__body">
      {% for day in place.dates %}
      <tr>
        <th data-align="left">{{ day.date }}</th>
        <td data-align="left">
          <div class="notifications"></div>
        </td>
        <td data-align="center">
          {% if day.weather_symbol_00.src %}
          <img class="table__weather-symbol" src="{{ site.baseurl }}/assets/img/{{ day.weather_symbol_00.src }}" alt="{{ day.weather_symbol_00.alt }}">
          {% endif %}
        </td>
        <td data-align="center">
          {% if day.weather_symbol_06.src %}
          <img class="table__weather-symbol" src="{{ site.baseurl }}/assets/img/{{ day.weather_symbol_06.src }}" alt="{{ day.weather_symbol_06.alt }}">
          {% endif %}
        </td>
        <td data-align="center">
          {% if day.weather_symbol_12.src %}
          <img class="table__weather-symbol" src="{{ site.baseurl }}/assets/img/{{ day.weather_symbol_12.src }}" alt="{{ day.weather_symbol_12.alt }}">
          {% endif %}
        </td>
        <td data-align="center">
          {% if day.weather_symbol_18.src %}
          <img class="table__weather-symbol" src="{{ site.baseurl }}/assets/img/{{ day.weather_symbol_18.src }}" alt="{{ day.weather_symbol_18.alt }}">
          {% endif %}
        </td>
        <td data-align="right">
          <span class="max-min-temperature">
            <span class="temperature" data-is-warm="{{ day.temp.max.is_warm }}">{{ day.temp.max.temp }}°</span>
            <span class="max-min-temperature__separator">/</span>
            <span class="temperature" data-is-warm="{{ day.temp.min.is_warm }}">{{ day.temp.min.temp }}°</span>
          </span>
        </td>
        <td data-align="right">
          {% if day.rain > "0" %}
          <span class="precipitation">{{ day.rain }} mm</span>
          {% endif %}
        </td>
        <td data-align="right">
          <span class="max-min-wind">
            <span class="max-min-wind__value">{{ day.wind }} m/s</span>
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
