<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="layout">
      <div class="header">
        <h1 class="header-title">
          <a href="{{ site.baseurl }}/">
              {{ site.title }}
          </a>
        </h1>
        <p class="header__attribution">
          <a href="{{ site.baseurl }}/compare">
            Sammenlign temperaturer
          </a>
          <span style="margin: 0 0.5em;">|</span>
          <span class="header__served-by">Sist oppdatert: {{ site.data.weather.updated_at | date: '%d/%m/%Y %H:%M' }}</span>
        </p>
      </div>
      {{ content }}
      <a target="_blank" href="https://icons8.com/icon/6vvNkta8tr68/alps">alpine</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>    
  </body>
</html>
