name: Update weather

on:
  schedule:
    - cron:  '0, 4,10,14,18 * * *'
  workflow_dispatch:
  push:
    paths:
      - 'weather.rb'
      - '_data/places.yaml'

env:
  TZ: "Europe/Oslo"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
        with:
          bundler-cache: true
      - name: Run updated
        run: bundle exec ruby weather.rb
      - name: Save weather forecast
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git commit -am "ci: Retrieved the latest forecasts"
          git push
